.tabview-demo .tabview-custom i, .tabview-demo .tabview-custom span {
    vertical-align: middle;
}

.tabview-demo .tabview-custom span {
    margin: 0 .5rem;
}

.tabview-demo .p-button {
    margin-right: .25rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}

.p-button {
    margin-right: 0.5rem;
    text-align: center;
    box-shadow: 0 0 0 1px var(--green-400);
}

.p-button:focus {
    background-color: var(--indigo-700);
}


